
body {
    background-color: #F1DDBF;
    font-family: 'Manrope', sans-serif;
    color: #78938A;
    font-size: 30px;
}


#playerName-button{
    font-family: 'Manrope', sans-serif;
    color: #4E6C50;
    font-size: 15px;
    border-radius: 10px;
    margin-left: -30px;

    
}

#playerName-button:hover {
    background-color: #89C4E1;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(176, 119, 22, 0.8)
}

input{
    background-color: #c2ebff;
    font-size: 20px;
    margin: 30px;
}



#BuzzWord-title {
    display:flex;
    font-family: 'Rampart One', cursive;
    font-size: 120px;
    color: #414d64;
    justify-content:center;
}

.how-to{
    margin-left: 20px;
}


#logo{
    display:flex;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    color:white;
    background-color: #24A19C;
    border: 3px solid rgb(81, 99, 15);
    justify-content: center;

}

#logo:hover:after{
    display: flex;
    background-color: #F1DDBF;
    color: #525E75;
    border: 10px solid #F1DDBF;
    margin: 40px;
    content: "Lets Find Out!!";
}


#surprise-button-div{
    display: flex;
    justify-content: center;
}

#surprise-button {
    font-family: 'Manrope', sans-serif;
    color: #263727;
    font-size: 30px;
    border-radius: 10px;
    margin: 15px;

}
#surprise-button:hover{
    background-color: #92BA92;
    color: black;
    cursor: pointer;
}

#boardDivs{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

#firstBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  
  #secondBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  #keyboard1 {
    display: flex;
    align-items: center;
  }

  .tile-box1, .tile-box2 {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .tile-row1, .tile-row2 {
    display: flex;
  }


.keyButton1, .keyButton2{
    border: 1px solid black;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .keyButton1:hover{
    box-shadow: 2px 3px 3px 1px  rgba(153, 172, 186, 0.8)
  }
  .keyButton2:hover{
    box-shadow: 2px 3px 3px 1px  rgba(153, 172, 186, 0.8)
  }

  #Boards {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

#names {
    display: flex;
    justify-content: center;
    gap: 200px;

}
