
body {
    background-color: #F1DDBF;
    font-family: 'Manrope', sans-serif;
    color: #78938A;
    font-size: 30px;
}


#playerName-button{
    font-family: 'Manrope', sans-serif;
    color: #4E6C50;
    font-size: 20px;
    border-radius: 10px;
    margin-left: -30px;

    
}

#playerName-button:hover {
    background-color: #89C4E1;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(176, 119, 22, 0.8)
}

input{
    background-color: #c2ebff;
    font-size: 30px;
    margin: 30px;
    border-radius: 6px;
}



#BuzzWord-title {
    display:flex;
    font-family: 'Rampart One', cursive;
    font-size: 120px;
    color: #414d64;
    justify-content:center;
}

.how-to{
    margin-left: 20px;
}

#master-logo {
    display:flex;
    justify-content: center;
    color:rgb(5, 5, 5);
}

#logo{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    color:rgb(5, 5, 5);
    border: 3px solid rgb(99, 64, 15);
    max-width: 900px;
    padding: 10px;
    opacity: 0.7;
    background-color: #439A97;
}

#logo:hover:after{
    display: flex;
    background-color: #F1DDBF;
    color: #525E75;
    border: 10px solid #5c82f3;
    margin: 4px;
    content: "BuzzWord left a message for you, try to find it";
    font-size: 20px;
    padding: 20px;
    justify-content: center;
}


#surprise-button-div{
    display: flex;
    justify-content: center;
    gap: 12rem;
}

#surprise-button1 {
    font-family: 'Manrope', sans-serif;
    color: #263727;
    font-size: 30px;
    border-radius: 10px;
    margin: 15px;

}
#surprise-button1:hover{
    background-color: #92BA92;
    color: black;
    cursor: pointer;
}


#surprise-button2 {
    font-family: 'Manrope', sans-serif;
    color: #263727;
    font-size: 30px;
    border-radius: 10px;
    margin: 15px;

}
#surprise-button2:hover{
    background-color: #92BA92;
    color: black;
    cursor: pointer;
}

#boardDivs{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

#firstBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  
  #secondBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  #keyboard1 {
    display: flex;
    align-items: center;
  }

  .tile-box1, .tile-box2 {
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px;
    font-size: 45px;
    font-weight: 900;
    height: 5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

 
  
  .filled-box {
    border: 3px solid rgb(12, 13, 13);
    border-radius: 5px;
    margin: 2px;
    font-size: 45px;
    font-weight: 900;
    height: 5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .tile-row1, .tile-row2 {
    display: flex;
  }


.keyButton1, .keyButton2{
    border: 1px solid black;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .keyButton1:hover{
    box-shadow: 2px 3px 3px 1px  rgba(153, 172, 186, 0.8)
  }
  .keyButton2:hover{
    box-shadow: 2px 3px 3px 1px  rgba(153, 172, 186, 0.8)
  }

  #Boards {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

#names {
    display: flex;
    justify-content: center;
    gap: 200px;

}

.scrabbleImg{
    background-image: url("https://media.istockphoto.com/id/579236076/photo/scrabble-letters.jpg?s=1024x1024&w=is&k=20&c=mIEHzWL8OykS4JYa4yP9-fvGuUYMB_NYUDLIbroh-p4=");
    
}